<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/header.ejs')%>
  </head>
  <body>
    <%-include('../partials/navbar.ejs')%>

    <div class="conteudo">
      <!-- Menssagem do topo da página em jumbotron -->

      <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Detalhes da Proposta</h1>
        <p class="lead">Mensagem aqui.</p>
      </div>

      <div class="container" style="width: 40rem">
        <!-- Conteúdo de cada card -->
        <div class="lista-reboques">
          <div class="card card-index" style="width: 40rem">
            <a href="/proposta/detalhe/<%=proposta.id%>"></a>
            <div class="card-body">
              <h6 class="">Nome do Estudante: <%=proposta.estudante.nome%></h6>
              <h6 class="">Área do Conhecimento: <%=proposta.areaConhecimento%></h6>
              <h6 class="">Titulo: <%=proposta.titulo%></h6>
              <h6 class="">Descrição: <%=proposta.descricao%></h6>
              <h6 class="">Data: <%=proposta.dataSubmissao%></h6>
              <hr />
              <a href="/projeto/novo/?propostaId=<%=proposta.id%>" class="btn btn-primary">Iniciar Projeto</a>
              <!-- <a href="/proposta/detalhe/<%=proposta.id%>" class="btn btn-outline-success">Ver propostas</a> -->
            </div>
          </div>
        </div>

        <% if(mensagem){ %>
        <div class="alert alert-info">
          <strong>Alerta!</strong>
          <%= mensagem %>
        </div>
        <% } %>
      </div>
    </div>
    <%-include('../partials/footer.ejs')%>
  </body>
</html>
