<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/header.ejs')%>
  </head>
  <body>
    <%-include('../partials/navbar.ejs')%>

    <div class="conteudo">
      <!-- Menssagem do topo da página em jumbotron -->

      <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Lista dos Projetos</h1>
        <p class="lead">Bem-vindo a lista de projetos.</p>
      </div>

      <div class="container">
        <!-- Conteúdo de cada card -->
        <div class="lista-reboques">
          <% projetos.forEach(function(projeto){ %>
          <div class="card card-index" style="width: 40rem">
            <a href="/projeto/detalhe/<%=projeto.id%>"></a>
            <div class="card-body">
              <h6 class="">Titulo: <%=projeto.titulo.slice(0,30)%></h6>
              <h6 class="">Descrição: <%=projeto.descricao.slice(0,40)%>...</h6>
              <hr />
              <a href="/projeto/detalhe/<%=projeto.id%>" class="btn btn-primary">Detalhar</a>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <%-include('../partials/footer.ejs')%>
  </body>
</html>
